

#container1{
box-sizing: border-box;
margin:auto;
width:45%;
border:2px solid black;
padding: 10px;

}
#container2{
    background-color:antiquewhite;
    text-align: center;
    line-height: 1;
    border:2px solid brown;
    margin:5px;
    padding:5px;
}
#container3{
    padding:5px;
    margin:5px;
    background-color:lightblue;
}
.small{
    width:15%;
}

#container4{
    margin:5px;
    padding:5px;
}

#submit{
    width:100%;
}

